/*layout líquido*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 720px; /*720px*/
    margin: 0 auto;
    background: white url(../imagens/coluna.png) repeat-y left top;
    /*define uma largura mínima*/
    min-width: 720px;
    /*define uma largura máxima*/
    max-width: 960px;
}

#marca{
    width: 100%;
    height: 100%;/*100px*/
    background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}
/*
#imagem{
    width: 90%;
    /*esconde o conteúdo da imagem que ultrapassa o layout*/
    /*overflow: hidden;
}*/

img.noticia{
    width: 90%;
    padding: 2%;
    max-width: 600px;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

/********conteudo*********/
#conteudo{
    width: 75%;/*520px -> 74.28% do total*/
    float: right;
}

#conteudo-principal{
    width: 64%;/*320px -> 64%*/
    float: left;
}

#conteudo-secundario{
    width: 33%;/*180 -> 36%*/
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}
/**************menu vertical*************/

#navegacao{
    width: 23%;/*180px -> 25.72% do total*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navegacao ul a{
    
    width: 180px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
}

#navegacao a:hover{
    background-position: right bottom;
    background-color: #585858;
    color: white;
}